.menuContainer {
  grid-column: 2/4;
  grid-row: 2;
  color: white;
  display: flex;
  justify-content: space-between;
}

.item {
  cursor: pointer;
}

.getIntouch {
  cursor: pointer;
  position: absolute;
  right: 50px;
  & > div {
    border: 1px solid white;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid yellowgreen;
    }
  }
}

@media only screen and (max-width: 420px) {
  .menuContainer {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1.5fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .menuContainer {
    grid-template-columns: 1fr 1fr 1fr 1.2fr 3fr;
    grid-template-rows: 1.5fr 1fr;
  }
}
